.button {
  display: inline-block;
  padding: 0 1rem;

  color: $white;
  font-size: 0.95rem;
  line-height: 3.2;
  text-decoration: none;

  border: none;
  border-radius: 5px;
  background-color: $soft-blue;
  box-shadow: 0 5px 10px rgba($grayish-blue, 0.2);
}

.button--wide {
  display: block;
}

.button--red {
  background-color: $soft-red;
}

.button--white {
  background-color: hsl(0, 0, 97%);
  color: $dark-blue;
}

@media (min-width: 1440px) {
  .button {
    padding: 0 2.02rem;

    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 2.8;
  }
}
