.contacts {
  padding: 4.3rem 2rem 3.8rem;

  color: $white;
  text-align: center;

  background-color: $soft-blue;
}

.contacts__stats {
  display: block;
  margin-bottom: 0.7rem;

  font-size: 0.9rem;
  letter-spacing: 0.25em;

  text-transform: uppercase;
}

.contacts__header {
  margin-top: 0;
  margin-bottom: 2.1rem;

  color: $white;
  line-height: 1.1;
}

.contacts__email {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 1.2rem;

  color: $dark-blue;
  font-size: 0.9rem;
  line-height: 3.3;

  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);

  &::placeholder {
    color: $grayish-blue;
    font-size: 0.8rem;
    font-size: 400;
    letter-spacing: 0.06em;
  }
}

.contacts__form .button {
  display: block;
  width: 100%;

  background-color: $soft-red;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
