.features {
  padding: 5.5rem 2rem;
}

.features__header {
  margin-bottom: 0.5rem;
}

.features__text {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.features__buttons {
  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 4.6rem;
  padding: 0;

  color: hsl(250, 2.5%, 50%);
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.5px;

  list-style: none;
}

.features__buttons li {
  box-shadow: 0 0.1em rgba($grayish-blue, 0.2) inset;
}

.features__buttons li:last-child {
  box-shadow: 0 -0.1em rgba($grayish-blue, 0.2) inset,
              0 0.1em rgba($grayish-blue, 0.2) inset;
}

.features__button {
  position: relative;
  display: block;

  line-height: 3.6;

  cursor: pointer;

  &::after {
    content: '';

    position: absolute;
    right: 50%;
    bottom: 0;

    height: 4px;
    width: 0;

    background-color: $soft-red;
    transform: translateX(50%);
  }
}

.features__button.is-active {
  color: $dark-blue;

  &::after {
    width: 143px;
  }
}

.features__content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.features__feature {
  display: none;
  flex-direction: column;
  align-items: center;
}

.features__illustration {
  position: relative;

  max-width: 400px;
  margin-top: 0;
  margin-bottom: 0.5rem;

  &::after {
    content: '';

    position: absolute;
    right: 30%;
    bottom: 10px;
    left: 0;
    z-index: -1;

    height: 82%;
    margin-left: -25vw;

    background-color: $soft-blue;

    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
  }
}

.features__feature .button {
  display: none;
}

.features__feature--shown {
  display: flex;
}

@media(min-width: 750px) {
  .features {
    padding-top: 3.5rem;
  }

  .features__header {
    margin-bottom: 1rem;
  }

  .features__text {
    max-width: 530px;
    margin: 0 auto 2.8rem;
  }

  .features__buttons {
    flex-direction: row;
    width: 730px;
    margin: 0 auto 4.5rem;
  }

  .features__buttons li {
    flex: 1;
    box-shadow: 0 -0.1em rgba($grayish-blue, 0.2) inset;
  }

  .features__buttons li:last-child {
    box-shadow: 0 -0.1em rgba($grayish-blue, 0.2) inset;
  }

  .features__button {
    line-height: 5;
  }

  .features__button.is-active {
    &::after {
      width: 100%;
    }
  }

  .features__feature {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .features__illustration {
    max-width: 540px;

    &::after {
      right: 26%;
      bottom: -10px;
    }
  }

  .features__feature .features__header {
    margin-top: 0;
    text-align: left;
  }

  .features__feature .features__text {
    margin-bottom: 2.3rem;
    text-align: left;
  }

  .features__feature .button {
    display: inline-block;
  }


  .features__container {
    flex: 0 0 440px;
    margin-top: -5rem;
    margin-left: 2rem;
  }
}
