.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1440px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

.header__button {
  display: none;
}

.header__menu {
  display: none;
}

.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__link {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

@media (max-width: 750px) {
  .header__button {
    display: block;
    width: 18px;
    height: 15px;
    padding: 0;

    border: none;
    background: transparent url(../img/icon-hamburger.svg) 0 0 no-repeat;
    cursor: pointer;
  }

  .header--opened .header__logo {
    position: relative;
    z-index: 11;

    & path,
      circle {
      fill: #ffffff;
    }

    & .shield {
      fill: #313751;
    }
  }

  .header--opened .header__button {
    position: relative;
    z-index: 11;

    background-image: url(../img/icon-close.svg)
  }

  .header--opened .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 6.5rem 2rem 3rem;

    color: $white;
    text-align: center;

    background-color: rgba($dark-blue, 0.9);
  }

  .header--opened .header__list {
    margin-bottom: 1.4rem;
  }

  .header--opened .header__list li {
    box-shadow: 0 0.1em rgba($grayish-blue, 0.3) inset;
  }

  .header--opened .header__list li:last-child {
    box-shadow: 0 -0.1em rgba($grayish-blue, 0.3) inset,
                0 0.1em rgba($grayish-blue, 0.3) inset;
  }

  .header--opened .header__link {
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 3;
  }

  .header--opened .button {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 1px;
    text-transform: uppercase;

    background-color: transparent;
    border: 3px solid $white;
  }

  .header--opened .socials {
    margin-top: auto;
  }
}

@media (min-width: 750px) {
  .header__container {
    max-width: 1200px;
    padding: 2.9rem 2.8rem 2.9rem 3.2rem;
  }

  .header__button {
    display: none;
  }

  .header__menu {
    display: flex;
  }

  .header__menu .socials {
    display: none;
  }

  .header__menu .button {
    padding: 0 2.02rem;

    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 2.8;
    text-transform: uppercase;
  }

  .header__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .header__link {
    margin-right: 2.7rem;
    font-size: 0.9rem;
    color: $dark-blue;
    letter-spacing: 1px;
  }
}
