.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.hero__illustration {
  position: relative;

  margin: 0 -1.3rem 4rem;

  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: -15px;
    left: 30%;
    z-index: -1;

    height: 82%;
    max-height: 350px;
    margin-right: -25vw;

    background-color: $soft-blue;

    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
  }
}

.hero__illustration img {
  display: block;
}

.hero__content {
  max-width: 500px;
}

.hero__header {
  margin-top: 0;
  margin-bottom: 1rem;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 2rem;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  width: 310px;

  margin: 0 auto;
}

@media(min-width: 750px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;

    padding-top: 3.5rem;
  }

  .hero__illustration {
    order: 1;

    margin: 0;

    &::after {
      left: 26%;
      bottom: -30px;
    }
  }

  .hero__content {
    margin-left: 2rem;
  }

  .hero__header {
    margin-bottom: 1.5rem;

    text-align: left;
  }

  .hero__text {
    text-align: left;
  }

  .hero__container {
    width: 345px;
    margin: 0;
  }
}


@media(min-width: 1100px) {
  .hero__content {
    margin-top: -1rem;
    margin-left: 7rem;
  }
}
