.hero {
  position: relative;

  background: url(../img/illustration-hero.svg) 50% 35px/350px no-repeat;

  &::before {
    content: '';

    position: absolute;
    top: 90px;
    right: 0;
    left: 50%;
    z-index: -1;

    height: 205px;
    margin-left: -110px;

    background-color: $soft-blue;
    border-top-left-radius: 93px;
    border-bottom-left-radius: 93px;
  }
}

.hero__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20rem 2rem 2.5rem 2rem;
}

.hero__header {
  margin-bottom: 1rem;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 2rem;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  width: 310px;
  margin: 0 auto;
}

@media(min-width: 750px) {
  .hero {
    background-size: 500px;

    &::before {
      height: 300px;
    }
  }

  .hero__content {
    padding-top: 24rem;
  }
}

@media(min-width: 1300px) {
  .hero {
    background-position: 89% 60px;
    background-size: 655px;


    &::before {
      top: 200px;

      height: 350px;
      margin-left: 210px;

      border-top-left-radius: 160px;
      border-bottom-left-radius: 160px;
    }
  }

  .hero__content {
    padding: 6.5rem 2.8rem 5.8rem;
  }

  .hero__header {
    width: 500px;
    margin-bottom: 1.5rem;

    text-align: left;
  }

  .hero__text {
    width: 500px;

    text-align: left;
  }

  .hero__container {
    width: 345px;
    margin: 0;
  }
}
