.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__item + .socials__item {
  margin-left: 2.5rem;
}

.socials__link {
  display: block;
  text-decoration: none;
}

.socials__icon {
  display: block;
  fill: $white;

<<<<<<< HEAD
  transition: fill 100ms ease-out;
=======
  transition: fill 50ms linear;
>>>>>>> 1a1e1e47221fc0af9550ffe91f84e5a2183be19c
}

.socials__link:active .socials__icon,
.socials__link:hover .socials__icon {
  fill: $soft-red;
}
